@import "../../style/colors";
@import "../../style/values";

.secondary-btn-ctn {
  position: relative;
  display: flex;
  column-gap: 1rem;
  justify-content: center;
  align-items: center;
  transition: all .4s ease-in-out;
  cursor: pointer;
  flex-wrap: nowrap;
  width: fit-content;

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: $codenauts_white;
    z-index: 1;
    white-space: nowrap;
    text-decoration: underline;
  }

  svg {
    color: $codenauts_white;
    z-index: 1;
    transition: all 0.15s ease-in;
  }
}

.secondary-btn-ctn:hover {
  svg {
    transform: rotate(45deg);
  }
}
