@import '../../style/colors';

.footer-section {
  padding-top: 6rem;
  padding-bottom: 4rem;

  .ctn {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .top-ctn {
      display: flex;
      flex-direction: row;
      column-gap: 6rem;
    }

    .text-ctn {
      gap: 1rem;
      align-items: start;
      h2 {
        text-transform: uppercase;
      }

      .footer-contact-text {
        font-style: normal;
        font-weight: 600;
        font-size: 80px;
        line-height: 110%;
        color: $codenauts_orange;
      }

      a {
        display: flex;
        align-items: center;
        gap: 1rem;
        text-decoration: none;
      }
    }

    .company-data {
      p {
        font-size: 14px;
        opacity: 0.9;
      }
    }

    .social-ctn {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      p {
        font-weight: 300;
        font-size: 14px;
        opacity: 0.9;
      }

      > div {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        svg {
          color: $codenauts_white;
          transition: all .2s ease-out;
          width: 2rem;
          height: auto;
        }

        svg:hover {
          color: $codenauts_orange;
        }
      }
    }
  }
}

@media (max-width: 676px) {
  .footer-section {
    .ctn {
      gap: 2rem;

      .top-ctn {
        flex-direction: column;
      }

      .text-ctn {
        .footer-contact-text {
          font-size: 44px;
        }
        margin-bottom: 2rem;
      }

      .social-ctn {
        gap: 2rem;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;

        svg {
          width: 1.5rem;
        }
      }
    }
  }
}
