@import '../../../style/colors';


.codenauts-tags-ctn {
  transform: translate(0, -100%) rotate(90deg);
  transform-origin: left bottom;

  .title-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: $codenauts_white;
    white-space: nowrap;

    span {
      text-decoration: underline;
    }
  }

  .tags-grid {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .tag-ctn {
    box-sizing: border-box;
    background: rgba(76, 79, 88, 0.3);
    border: 1px solid #4C4F58;
    backdrop-filter: blur(20px);
    border-radius: 5px;
    padding: 0.3rem 1rem;
    margin-top: 1rem;

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 21px;
      display: flex;
      align-items: center;
      text-align: center;
      color: $codenauts_white;
      white-space: nowrap;
      cursor: default;
    }
  }
}
