.home-ctn {

  .welcome-section-ctn {
    display: flex;
    flex-direction: row;

    .text-ctn {
      display: flex;
      flex-direction: column;

      p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 2rem;
      }

      h1 {
        margin-bottom: 3rem;
      }
    }
  }
}
