@import '../../../style/values';
@import '../../../style/colors';

$top_margin: 150px;

.home-ctn {
  overflow: hidden;

  .codenauts-bg-name-ctn {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 200px;
      font-style: normal;
      font-weight: 400;
      line-height: 80%;
      color: rgba(255, 255, 255, 0.02);
    }
  }

  .welcome-section-ctn {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    padding-top: $top_margin;
    box-sizing: border-box;

    .text-ctn {
      display: flex;
      flex-direction: column;
      max-width: 800px;
      margin-left: 6rem;
      z-index: $main_z_index;

      p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 2rem;
      }

      h1 {
        margin-bottom: 3rem;
      }
    }

    .orange-theme-circle {
      position: absolute;
      top: 120px;
      right: 150px;
      z-index: $zero_z_index;
      box-sizing: border-box;
      width: 195px;
      height: 195px;
      background: linear-gradient(79.58deg, #EC7027 28.59%, #FC9050 106.42%);
      border: 1px solid rgba(27, 27, 27, 0.5);
      box-shadow: 2px 2px 50px 10px rgba(236, 112, 39, 0.5);
      border-radius: 50%;
    }

    .blue-theme-circle {
      position: absolute;
      top: 50vh;
      right: 10px;
      z-index: $zero_z_index;
      box-sizing: border-box;
      width: 259px;
      height: 259px;
      background: linear-gradient(71.25deg, #354DCA 31.32%, #657CF1 103.97%);
      border: 1px solid rgba(27, 27, 27, 0.5);
      box-shadow: 2px 2px 50px 10px rgba(53, 77, 202, 0.5);
      border-radius: 50%;
    }

    .codenauts-tags-parent-ctn {
      position: relative;
      max-width: 150px;
      height: 100%;
    }

    .blue-eclipse {
      border-radius: 50%;
      box-sizing: border-box;
      position: absolute;
      width: 405px;
      height: 405px;
      left: -200px;
      top: 150px;
      background: $codenauts_black;
      border: 1px solid rgba(27, 27, 27, 0.5);
      box-shadow: 2px 2px 50px 10px rgba(53, 77, 202, 0.5);
    }

    @media (max-width: 1190px) {
      .codenauts-tags-parent-ctn {
        display: none;
      }
    }

    @media (max-width: 836px) {
      .text-ctn {
        margin-left: 0;

        h1 {
          font-size: 52px;
          line-height: 130%;
        }
      }

      .blue-eclipse {
        display: none;
      }
    }

    @media (max-width: 576px) {
      .orange-theme-circle {
        top: 90vh;
        right: -60px;
      }

      .blue-theme-circle {
        top: 30vh;
        right: -100px;
      }
    }
  }

  @media (max-width: 836px) {
    .welcome-section-ctn {
      height: unset;
      min-height: 100vh;
    }
  }

  .codenauts-tags-parent-ctn-mobile {
    display: none;
  }

  @media (max-width: 576px) {
    .codenauts-bg-name-ctn {
      display: none;
    }

    .codenauts-tags-parent-ctn-mobile {
      display: block;
      height: unset;

      .codenauts-bg-name-ctn {
        display: block;
        top: 350px;

        h1 {
          font-size: 140px;
        }
      }

      .blue-eclipse {
        border-radius: 50%;
        box-sizing: border-box;
        position: absolute;
        width: 405px;
        height: 405px;
        left: -150px;
        top: 60px;
        background: $codenauts_black;
        border: 1px solid rgba(27, 27, 27, 0.5);
        box-shadow: 2px 2px 50px 10px rgba(53, 77, 202, 0.5);
      }
    }
  }

  @media (max-width: 320px) {
    .welcome-section-ctn {
      .text-ctn {

        h1 {
          font-size: 36px;
        }
      }
    }
  }
}
