@import '../../../style/values';
@import '../../../style/colors';

$top_margin: 150px;

.home-ctn {
  overflow: hidden;

  .welcome-section-ctn {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    align-items: center;

    .codenauts-bg-name-ctn {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 0;

      span {
        font-size: 300px;
        font-style: normal;
        font-weight: 400;
        line-height: 80%;
        color: rgba(255, 255, 255, 0.02);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    }

    .text-ctn {
      row-gap: 2rem;
      z-index: 1;
      position: relative;

      .sub-text {
        max-width: 75%;
      }

      .text-with-line-ctn {
        display: flex;
        column-gap: 2rem;

        .line {
          margin-top: 8px;
          background-color: $codenauts_orange;
          min-width: 10vw;
          height: 1px;
        }
      }

      .theme {
        position: absolute;
        top: auto;
        bottom: auto;
        right: -100px;
        z-index: -1;
      }
    }
  }

  @media (max-width: 836px) {
    .welcome-section-ctn {
      height: unset;
      min-height: 100vh;

      .text-ctn {
        .sub-text {
          max-width: unset;
        }

        .theme {
          right: -250px;
        }
      }
    }
  }

  @media (max-width: 576px) {
    .welcome-section-ctn {
      .text-ctn {
        .btn-ctn {
          margin-top: 1rem;
        }
      }
    }
  }

  @media (max-width: 320px) {
    .welcome-section-ctn {
      .text-ctn {
        h1 {
          font-size: 36px;
        }
      }
    }
  }
}
