:root {
  --gray: #4C4F58;
  --light-gray: #6a6d75;
  --glassy-gray: #4C4F5830;
  --glassy-text: #ffffff95;
  --error: #FF605C;
}

$codenauts_black: #1B1B1B;
$codenauts_white: #ffffff;
$codenauts_blue: #354DCA;
$codenauts_orange: #EC7027;


