@import "colors";
@import "fonts";
@import "values";

html, body {
  margin: 0;
  padding: 0;
  font-family: $jetbrains_mono;
  background-color: $codenauts_black;
}

.main-ctn {
  position: relative;

  h1,h2,h3,h4,h5,h6,p,a {
    color: $codenauts_white;
    padding: 0;
    margin: 0;
    font-family: $jetbrains_mono;
  }

  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 84px;
    line-height: 120%;
  }

  h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
  }

  h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
  }

  p {
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 150%;
  }

  .section-label {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #354DCA;
  }

  .ctn {
    max-width: $max_width;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
    z-index: $main_z_index;
    position: relative;
  }

  .section-ctn {
    padding: 10rem 0;
    position: relative;
  }

  .text-ctn {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  .theme-ctn {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
  }

  @media (max-width: 1088px) {
    h1 {
      font-size: 64px;
    }

    .ctn {
      padding: 0 24px;
    }
  }

  @media (max-width: 876px) {
    h1 {
      font-size: 52px;
    }

    p {
      font-size: 14px;
    }
  }

  @media (max-width: 576px) {
    h1,h2 {
      font-size: 38px;
    }
  }

  @media (max-width: 380px) {
    h3 {
      font-size: 18px;
    }
  }
}
